// Core variables and mixins
@import "assets/css/variables"; 
@import "assets/css/mixins";


$doc-font-size: 10;

//	Colours
// --------------------------------------------- //

$darkblue: #282c37;
$midblue: #52606e;
$lightblue: #dee2e6;
$lighterblue: #f4f7fa;

$blue: #176f90;
$bluemid: #02a9bf;

$green: #7cb043;
$midgreen: #cbd936;
$darkgreen: #4f702b;

$red: #e1293a;
$orange: #ff6600;
$yellow: #ffb400;

// The Font Mixin
//------------------------------- //

@mixin font-size($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
}

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; } 

/*	Base
============================================================ */

img {
	max-width: 100%;
	height: auto;
}

/*	General
============================================================ */

.wrapper {
	@include clearfix();
	height: auto;
	
	&.main-wrapper {
		//min-width: 768px;
		@include flexbox;
		min-height: 100vh;
		overflow-x: hidden;
	}
}

.svg-container {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	overflow: hidden;
	
	.svg-content {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	path {
		@include transition(fill .2s);
	}

}

.container {
	padding: 30px;
}

.section-title {
	background-color: $lighterblue;
	color: $midblue;
	border-bottom: 1px solid #b5bfca;
	position: relative;
	z-index: 1;
	padding-right: 25%;
	@media (min-width: $screen-md-min) { 
		padding-right: 430px;
	}
	h1 {
		margin: 0;
		padding: 20px 30px;
		line-height: 100%;
		font-weight: 300;
	}
}

.link {
	font-weight: 600;
	text-decoration: underline;
}

.date {
	display: block;
	margin-bottom: 10px;
	font-size: 90%;
}

.text-lg {
	font-size: 2em;
	line-height: 100%;
	font-weight: 600;
}

.row {
	@include flexbox;
	.col-1 {
		@include flex(1);
	}
	
	.col-2 {
		@include flex(2);
	}
}

.icon {
	@include flexbox;
	@include align-items(center);
	@include justify-content(center); 
	
	&.insect, &.orange {
		background-color: $orange;
	}
	
	&.dust, &.yellow {
		background-color: $yellow;
	}
	
	&.weed, &.red {
		background-color: $red;
	}
	
	&.midgreen {
		background-color: $midgreen;
	}
	
	&.green {
		background-color: $green;
	}
	
	&.ligthblue {
		background-color: $bluemid;
	}
	
	&.blue {
		background-color: $blue;
	}
	
	&.midblue {
		background-color: $midblue;
	}
}

.glyphicon-ok {
	color: $green;
}

.glyphicon-remove {
	color: $red;
}

.loading-bar-backdrop {
	z-index: 999999;
	background: rgba(#f4f7fa, .6) url(assets/img/img-icon-loader.svg) no-repeat center center;
}


/*	Form & Buttons
============================================================ */

.btn {
	padding: 15px 20px;
	border-radius: 4px;
	font-size: 1.714em;
	text-transform: uppercase;
	@include transition(all .3s);
}

.btn-sm {
  @include button-size($padding-small-vertical, 15px, 1.2em, $line-height-small, 0);
}

.btn-default {
	background-color: #f4f7fa;
	color: #5c616f;
	
	&:hover, &:focus {
		background-color: #5c616f;
		color: #f4f7fa;
	}
}

.btn-primary {
	background-color: $midblue;
	color: #fff;
	
	&:hover, &:focus {
		background-color: $darkblue;
		color: #fff;
	}
}

.btn-success {
	background-color: $green;
	color: #fff;
	
	&:hover, &:focus {
		background-color: darken($green, 15%);
		color: #fff;
	}
}

.btn-danger {
	background-color: $red;
	color: #fff;
	
	&:hover, &:focus {
		background-color: darken($red, 15%);
		color: #fff;
	}
}

.btn-info {
	background-color: #19799D;
	color: #fff;
	&:hover, &:focus {
		background-color: darken(#19799D, 15%);
		color: #fff;
	}	
}

.form-group {
	&.col-1 {
		padding: 0 10px;
		
	}
}

.row .form-group {
	&.col-1 {
		&:first-child {
			padding-left: 0;
		}
		
		&:last-child {
			padding-right: 0;
		}
	}	
}

.custom-selectbox {
	background-color: #fff;
	border: 1px solid #8f9aa6;
	position: relative;
	&:after, &:before {
		content: '';
		display: block;
		position: absolute;
		pointer-events: none;
		-webkit-user-select: none;
		-webkit-touch-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;		

	}
	
	&:before {
		background-color: #fff;
		width:44px;
		border-left: 1px solid #8f9aa6;
		height: 100%;
		top:0;
		right: 0;
	}
	
	&:after {
		top:50%;
		margin-top: -5px;
		right: 14px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 8px 0 8px;
		border-color: #8f9aa6 transparent transparent transparent;
	}
	
	select {
		margin: 0;
		border:none;
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		background: transparent;	
	}
	
	&.blue {
		&:before {
			background-color: $blue;
		}
	}
	
	
}

.heading-select {
	margin-bottom: 30px;
	
	.col-1 {
		max-width: 215px;
		@include flexbox;
		@include align-items(center);
	}
	
	label {
		font-size: 1.429em;
	}
	
	.custom-selectbox {
		border: none;
	}
}

.filter-input, th.filter .ng-scope input {
	background: url(assets/img/img-icon-filter.svg) no-repeat 8px center; 
	background-size: 22px auto;
	padding-left: 32px;
}	

/*	Header
============================================================ */

.header {
	background-color: $darkblue;
	color: #dee2e6;
	position: relative;
	z-index: 2;
	
	&:not(th):after, &:not(th):before {
		content: '';
		display: block;
		position: absolute;
		bottom: -25px;
	}
	
	&:not(th):before {
		width: 25%;
		right: 0;
		height: 25px;
		background-color: $darkblue;
	}
	
	&:not(th):after {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 25px 25px 0;
		border-color: transparent $darkblue transparent transparent;
		right: 25%;		
	}
	
	a {
		color: #dee2e6;
	}
	
	.container {
		@include flexbox;
		@include justify-content(space-between);
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		
		@media (max-width: 480px) { 
			@include flex-direction(column);
		}
	}
	
	.user-info {
		font-size: 1.429em;
		line-height: 100%;
		@include align-self(flex-end);
	}
	
	@media (min-width: $screen-lg-min) {
		&:before {
			width: 420px;
		}
		
		&:after {
			right: 420px;		
		}


		.user-info {
			font-size: 1.629em;
			li  {
				margin-left: 15px;
				img {
					width: 28px;
				}
			}	
		}
	
	}	
	
}

.logo-brand {
	width: 320px;
	display: inline-block;
	img {
		width: 100%;
	}
}

/*	Navigation
============================================================ */

.navbar {
	width: 220px;
	position: relative;
	z-index: 1;
	margin-left: -1px;
	overflow: hidden;
	@include transition(width .2s linear);
	@include transition-timing-function(cubic-bezier(0.7,0,0.3,1));
	
	&.collapsed {
		width: 60px;
		
		.text {
			@include opacity(0);
		}

		.menu-toggle {
			a {
				&:after {
					left: 22px;
					border-width: 10px 0 10px 12px;
					border-color: transparent transparent transparent #000000;
				}
	
			}
		}


	}
	
	ul {
		width: 220px;
		list-style: none;
		padding: 0;
		margin: 0;
		
	}
	
	li {
		border-bottom: 1px solid $darkblue;
	}
	
	.svg-container {
		width: 18px;
		height: 18px;
		top:-2px;
		margin-right: 5px;
	}
	
	a {
		color: #fff;
		display: block;
		padding: 20px;
		font-size: 1.143em;
		line-height: 18px;
		@include transition(background .2s ease-in-out);
		&:hover {
			background-color: $darkblue;
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
			

	}
	
	.text {
		@include transition(all .2s);
	}
	
	.active {
		a {
			background-color: #677786;
		}
	}
	
	.menu-toggle {
		a {
			padding-left: 46px;
			color: #000;
			height: 59px;
			position: relative;
			&:hover  {
				background-color: $lightblue;
				text-decoration: none;
			}
			&:after {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				left: 20px;
				top:50%;
				@include translate(0,-50%);
				border-style: solid;
				border-width: 10px 12px 10px 0;
				border-color: transparent #000000 transparent transparent;				
			}

		}
	}
	
	@media (min-width: $screen-md-min) {
		&, ul {
			width: 20vw;
		}
		&.collapsed {
			width: 60px;
		}
	
	}
	
	@media (min-width: $screen-lg-min) { 
		&.collapsed {
			width: 90px;
			.menu-toggle {
				a {
					&:after {
						left: 36px;
						border-width: 15px 0 15px 18px;
					}
		
				}
			}

		}
		
		a {
			padding: 25px;
			font-size:1.429em;
		}
		
		.svg-container {
			width: 36px;
			height: 36px;
		}

		.menu-toggle {
			a {
				padding-left: 72px;
				height: 87px;
				line-height: 37px;
				&:after {
					left: 32px;
					border-width: 15px 18px 15px 0;
				}
	
			}
		}
		
	}	
}

/*	Content
============================================================ */

.main {
	position: relative;
	z-index: 2;
	margin-right: -1px;
	///min-width: 568px;
	background-color: $lightblue;
	color: #000;
	@include flex(1);
	@include box-shadow(0 0 35px rgba(#000, .45));
	
}

.grid {
	@include clearfix;
	margin-left: -15px;
	margin-right: -15px;
	.columns {
		float: left;
		padding: 0 15px;
		width: 50%;
		@media (max-width: $screen-sm-max) { 
			width: 100%;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		@include flexbox;
		.column-1 {
			@include flex(1);
		}
		
		.column-2 {
			@include flex(2);
		}
		.column-3 {
			@include flex(3);
		}
	}	
	
}

.module {
	@include clearfix;
	overflow: hidden;
	color: #000;
	margin-bottom: 30px;
	
	.title, .subtitle {
		color: #fff;
		margin: 0;
		line-height: 100%;
		padding: 10px 20px;
	}
	
	.title {
		background-color: $darkblue;
		font-size: 1.143em;
		font-weight: 600;
		
		.svg-container {
			width: 36px;
			height: 36px;
			margin-right: 10px;
		}
		
		&.midblue {
			background-color: $midblue;
		}
		
		&.blue {
			background-color: $blue;
		}

		&.bluemid {
			background-color: $bluemid;
		}
		
		&.green {
			background-color: $green;
		}
		
		&.orange {
			background-color: $orange;
		}
		
		&.midgreen {
			background-color: $midgreen;
			color: $darkblue;
			
			path {
				fill: $darkblue;
			}
		}
					
	}
	
	.subtitle {
		background-color: $midblue;
		font-weight: 400;
		font-size: 1em;
		
		.addon {
			display: inline-block;
			float: right;
			margin-left: 10px;
			
			img {
				position: relative;
				top:-2px;
			}
		}
	}
	
	.heading {
		background-color: #b5bfc9;
		margin: 0;
		text-align: center;
		padding: 5px 10px;
		color: $darkblue;
		font-size: 1em;
	}
	
	.content {
		padding: 20px;
		background-color: #fff;

		.btn {
			color: $darkblue;
			font-size: 1.143em;
			.svg-container {
				margin: 0 auto 10px;
				width: 80px;
				height: 80px;
				display: block;
			}
			
			&:hover {
				
				svg path {
					fill: #5c616f;
				}
				
			}
			
			&.btn-success {
				color: #fff; 
			}
			
		}
		
		table  {
			border-bottom: 1px solid #8f9aa6;
			th {
				text-align: center;
			}
		}	
		
	}

}

.listing {
	margin: 0;
	background-color: #fff;
	width: 100%;
	padding-left: 0; 
	list-style: none;
	@include clearfix;
	
	> li {
		border-bottom: 1px solid #d7dbe3;	
		padding: 20px;
		line-height: 110%;
		color: #000;
		font-weight: 600;
		@include transition(background .2s);

		&:hover  {
			background-color: $lighterblue;
		}
		
		a {
			color: #000;
			&:hover, &:focus  {
				text-decoration: none;
			}
		}
				
		small {
			display: block;
			color: $midblue;
			font-weight: 300;
		}
	}
	
	&.cols {
		
		> li {
			font-weight: 300;
			@include flexbox;			
		}
		
		.svg-container {
			width: 18px;
			height: 18px;
			margin-right: 10px;
		}
		
		
		a:hover {
			text-decoration: underline;
		}
	}
	
	&.pest-list {
		> li {
			padding: 0;
			font-weight: 300;
			@include flexbox;
			.icon {
				min-width: 70px;

				.svg-container {
					width: 44px;
					height: 44px;
				}
			}
			
			.text {
				padding: 20px;
			}
		}
		
		
	}
	
	.entry-title {
		margin: 0;
		font-weight: 600;
		font-size: 125%;
	}
	
	.entry-content {
		font-weight: 300;
	}
	
	
}

.modicon {
	text-align: center;
	line-height: 100%;
	color: $darkblue;
	.svg-container {
		margin: 0 auto 10px;
		width: 80px;
		height: 80px;
		display: block;
	}
	
	.text-lg {
		color: $midgreen;
		display: block;
	}
	
}

.report-item {
	background-color: #fff;
	margin-bottom: 10px;
	.icon {
		min-width:120px;
		
		.svg-container {
			width: 50px;
			height: 50px;
		}
		
	}
	
	.text{
		padding: 20px;
	}
	
	.title {
		margin: 0;
		font-weight: 600;
		font-size: 1.714em;
	}
}

.block-item {
	@include clearfix;
	margin-bottom: 30px;
	padding: 20px;
	background-color: #fff;
	.heading {
		margin-bottom: 10px;
		.icon {
			max-width:120px;
			@include align-items(flex-start);
			.svg-container {
				width: 60px;
				height: 60px;
			}
			
		}
		
		.text{
			padding: 0 20px 5px;  
		}
		
		.title {
			margin: 0;
			font-weight: 600;
			font-size: 1.714em;
		}
		
	}
}

table {
	
	ul, ol {
		padding-left: 0;
		list-style: none;
		ul, ol {
			padding-left: 15px;
		}
		
	}
	
}

/*	Tabs 
============================================================ */

.nav-tabs {
	width: 100%;
	margin-bottom: 15px;
	padding-left: 0; 
	list-style: none;
	@include clearfix;
	background-color: #b5bfc9;
	> li {
	float: none;
		> a {
			
			padding: 10px 20px;
			color: $darkblue;
			display: block;
			text-align: center;
			margin-bottom: 5px;
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
	
	.active {
		background-color: $midblue;
		> a {
			color: #fff;
		}
	}
	
	@media (min-width: $screen-sm-min) {
		> li {
			display: table-cell;
			width: 1%;
			> a {
				margin-bottom: 0;
			}
		}
	}
}

.nav-lg {
	margin-bottom: 0;
	> li > a {
		font-size: 1.714em;
		padding: 12px 20px;
	}
}

.tab-content {
	margin-bottom: 15px;
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
	
	.module {
		margin-bottom: 15px;
	}
}

/*	Home page
============================================================ */

.home-page {
	background-color: #333;
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	
	.image {
		margin-bottom: 40px;
	}
	
	.content {
		margin: 0 auto;
		@media (min-width: $screen-sm-min) { 
			max-width: 80%;
		}
		@media (min-width: $screen-md-min) { 
			max-width: 60%;
		}
	}
}

/*	MEDIA QUERIES
============================================================ */
@media (max-width: $screen-xs-max) { }

@media (min-width: $screen-sm-min) { }

@media (max-width: $screen-sm-max) { }

@media (min-width: $screen-md-min) { }

@media (min-width: $screen-lg-min) {

	.text-lg {
		font-size: 3.571em;
	}
	
	.module {
		
		.title, .subtitle {
			padding: 12px 20px;
		}
		
		.title {
			font-size: 1.286em;
		}
		
		.subtitle, .heading {
			font-size: 1.143em;
		}
		
		.heading {
			padding: 8px 10px;
			
		}
		
		.content {
			padding: 25px 20px;
			.btn {
				font-size: 1.286em;
			}
		}
	}	
	
	.listing {
		font-size: 1.143em;
		&.cols {
			font-size: 1.429em;
			.svg-container {
				width: 24px;
				height: 24px;
				margin-right: 12px;
			}
			
		}	
	}
		
	.nav-justified {
		font-size: 1.143em;
	}
	
	.modicon {
		font-size: 1.429em;
		.text-lg {
			font-size: 2.083em;
		}
	}
}
