@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
/*	Base
============================================================ */
img { max-width: 100%; height: auto; }

/*	General
============================================================ */
.wrapper { height: auto; }
.wrapper:before, .wrapper:after { content: " "; display: table; }
.wrapper:after { clear: both; }
.wrapper.main-wrapper { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; min-height: 100vh; overflow-x: hidden; }

.svg-container { display: inline-block; position: relative; vertical-align: middle; overflow: hidden; }
.svg-container .svg-content { display: inline-block; position: absolute; top: 0; left: 0; }
.svg-container path { -webkit-transition: fill 0.2s; -o-transition: fill 0.2s; transition: fill 0.2s; }

.container { padding: 30px; }

.section-title { background-color: #f4f7fa; color: #52606e; border-bottom: 1px solid #b5bfca; position: relative; z-index: 1; padding-right: 25%; }
@media (min-width: 60em) { .section-title { padding-right: 430px; } }
.section-title h1 { margin: 0; padding: 20px 30px; line-height: 100%; font-weight: 300; }

.link { font-weight: 600; text-decoration: underline; }

.date { display: block; margin-bottom: 10px; font-size: 90%; }

.text-lg { font-size: 2em; line-height: 100%; font-weight: 600; }

.row { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.row .col-1 { -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; }
.row .col-2 { -webkit-box-flex: 2; -webkit-flex: 2; -moz-box-flex: 2; -moz-flex: 2; -ms-flex: 2; flex: 2; }

.icon { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; }
.icon.insect, .icon.orange { background-color: #ff6600; }
.icon.dust, .icon.yellow { background-color: #ffb400; }
.icon.weed, .icon.red { background-color: #e1293a; }
.icon.midgreen { background-color: #cbd936; }
.icon.green { background-color: #7cb043; }
.icon.ligthblue { background-color: #02a9bf; }
.icon.blue { background-color: #176f90; }
.icon.midblue { background-color: #52606e; }

.glyphicon-ok { color: #7cb043; }

.glyphicon-remove { color: #e1293a; }

.loading-bar-backdrop { z-index: 999999; background: rgba(244, 247, 250, 0.6) url(assets/img/img-icon-loader.svg) no-repeat center center; }

/*	Form & Buttons
============================================================ */
.btn { padding: 15px 20px; border-radius: 4px; font-size: 1.714em; text-transform: uppercase; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }

.btn-sm { padding: 5px 15px; font-size: 1.2em; line-height: 1.5; border-radius: 0; }

.btn-default { background-color: #f4f7fa; color: #5c616f; }
.btn-default:hover, .btn-default:focus { background-color: #5c616f; color: #f4f7fa; }

.btn-primary { background-color: #52606e; color: #fff; }
.btn-primary:hover, .btn-primary:focus { background-color: #282c37; color: #fff; }

.btn-success { background-color: #7cb043; color: #fff; }
.btn-success:hover, .btn-success:focus { background-color: #55792e; color: #fff; }

.btn-danger { background-color: #e1293a; color: #fff; }
.btn-danger:hover, .btn-danger:focus { background-color: #a61725; color: #fff; }

.btn-info { background-color: #19799D; color: #fff; }
.btn-info:hover, .btn-info:focus { background-color: #0e465b; color: #fff; }

.form-group.col-1 { padding: 0 10px; }

.row .form-group.col-1:first-child { padding-left: 0; }
.row .form-group.col-1:last-child { padding-right: 0; }

.custom-selectbox { background-color: #fff; border: 1px solid #8f9aa6; position: relative; }
.custom-selectbox:after, .custom-selectbox:before { content: ''; display: block; position: absolute; pointer-events: none; -webkit-user-select: none; -webkit-touch-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.custom-selectbox:before { background-color: #fff; width: 44px; border-left: 1px solid #8f9aa6; height: 100%; top: 0; right: 0; }
.custom-selectbox:after { top: 50%; margin-top: -5px; right: 14px; width: 0; height: 0; border-style: solid; border-width: 10px 8px 0 8px; border-color: #8f9aa6 transparent transparent transparent; }
.custom-selectbox select { margin: 0; border: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: transparent; }
.custom-selectbox.blue:before { background-color: #176f90; }

.heading-select { margin-bottom: 30px; }
.heading-select .col-1 { max-width: 215px; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }
.heading-select label { font-size: 1.429em; }
.heading-select .custom-selectbox { border: none; }

.filter-input, th.filter .ng-scope input { background: url(assets/img/img-icon-filter.svg) no-repeat 8px center; background-size: 22px auto; padding-left: 32px; }

/*	Header
============================================================ */
.header { background-color: #282c37; color: #dee2e6; position: relative; z-index: 2; }
.header:not(th):after, .header:not(th):before { content: ''; display: block; position: absolute; bottom: -25px; }
.header:not(th):before { width: 25%; right: 0; height: 25px; background-color: #282c37; }
.header:not(th):after { width: 0; height: 0; border-style: solid; border-width: 0 25px 25px 0; border-color: transparent #282c37 transparent transparent; right: 25%; }
.header a { color: #dee2e6; }
.header .container { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; position: relative; padding-top: 20px; padding-bottom: 20px; }
@media (max-width: 480px) { .header .container { -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }
.header .user-info { font-size: 1.429em; line-height: 100%; -webkit-align-self: flex-end; -moz-align-self: flex-end; -ms-flex-item-align: end; align-self: flex-end; }
@media (min-width: 77em) { .header:before { width: 420px; }
  .header:after { right: 420px; }
  .header .user-info { font-size: 1.629em; }
  .header .user-info li { margin-left: 15px; }
  .header .user-info li img { width: 28px; } }

.logo-brand { width: 320px; display: inline-block; }
.logo-brand img { width: 100%; }

/*	Navigation
============================================================ */
.navbar { width: 220px; position: relative; z-index: 1; margin-left: -1px; overflow: hidden; -webkit-transition: width 0.2s linear; -o-transition: width 0.2s linear; transition: width 0.2s linear; -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
.navbar.collapsed { width: 60px; }
.navbar.collapsed .text { opacity: 0; filter: alpha(opacity=0); }
.navbar.collapsed .menu-toggle a:after { left: 22px; border-width: 10px 0 10px 12px; border-color: transparent transparent transparent #000000; }
.navbar ul { width: 220px; list-style: none; padding: 0; margin: 0; }
.navbar li { border-bottom: 1px solid #282c37; }
.navbar .svg-container { width: 18px; height: 18px; top: -2px; margin-right: 5px; }
.navbar a { color: #fff; display: block; padding: 20px; font-size: 1.143em; line-height: 18px; -webkit-transition: background 0.2s ease-in-out; -o-transition: background 0.2s ease-in-out; transition: background 0.2s ease-in-out; }
.navbar a:hover { background-color: #282c37; text-decoration: none; }
.navbar a:focus { text-decoration: none; }
.navbar .text { -webkit-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.navbar .active a { background-color: #677786; }
.navbar .menu-toggle a { padding-left: 46px; color: #000; height: 59px; position: relative; }
.navbar .menu-toggle a:hover { background-color: #dee2e6; text-decoration: none; }
.navbar .menu-toggle a:after { content: ''; display: block; width: 0; height: 0; position: absolute; left: 20px; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); border-style: solid; border-width: 10px 12px 10px 0; border-color: transparent #000000 transparent transparent; }
@media (min-width: 60em) { .navbar, .navbar ul { width: 20vw; }
  .navbar.collapsed { width: 60px; } }
@media (min-width: 77em) { .navbar.collapsed { width: 90px; }
  .navbar.collapsed .menu-toggle a:after { left: 36px; border-width: 15px 0 15px 18px; }
  .navbar a { padding: 25px; font-size: 1.429em; }
  .navbar .svg-container { width: 36px; height: 36px; }
  .navbar .menu-toggle a { padding-left: 72px; height: 87px; line-height: 37px; }
  .navbar .menu-toggle a:after { left: 32px; border-width: 15px 18px 15px 0; } }

/*	Content
============================================================ */
.main { position: relative; z-index: 2; margin-right: -1px; background-color: #dee2e6; color: #000; -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.45); box-shadow: 0 0 35px rgba(0, 0, 0, 0.45); }

.grid { margin-left: -15px; margin-right: -15px; }
.grid:before, .grid:after { content: " "; display: table; }
.grid:after { clear: both; }
.grid .columns { float: left; padding: 0 15px; width: 50%; }
@media (max-width: 60em) { .grid .columns { width: 100%; } }
@media (min-width: 77em) { .grid { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
  .grid .column-1 { -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; }
  .grid .column-2 { -webkit-box-flex: 2; -webkit-flex: 2; -moz-box-flex: 2; -moz-flex: 2; -ms-flex: 2; flex: 2; }
  .grid .column-3 { -webkit-box-flex: 3; -webkit-flex: 3; -moz-box-flex: 3; -moz-flex: 3; -ms-flex: 3; flex: 3; } }

.module { overflow: hidden; color: #000; margin-bottom: 30px; }
.module:before, .module:after { content: " "; display: table; }
.module:after { clear: both; }
.module .title, .module .subtitle { color: #fff; margin: 0; line-height: 100%; padding: 10px 20px; }
.module .title { background-color: #282c37; font-size: 1.143em; font-weight: 600; }
.module .title .svg-container { width: 36px; height: 36px; margin-right: 10px; }
.module .title.midblue { background-color: #52606e; }
.module .title.blue { background-color: #176f90; }
.module .title.bluemid { background-color: #02a9bf; }
.module .title.green { background-color: #7cb043; }
.module .title.orange { background-color: #ff6600; }
.module .title.midgreen { background-color: #cbd936; color: #282c37; }
.module .title.midgreen path { fill: #282c37; }
.module .subtitle { background-color: #52606e; font-weight: 400; font-size: 1em; }
.module .subtitle .addon { display: inline-block; float: right; margin-left: 10px; }
.module .subtitle .addon img { position: relative; top: -2px; }
.module .heading { background-color: #b5bfc9; margin: 0; text-align: center; padding: 5px 10px; color: #282c37; font-size: 1em; }
.module .content { padding: 20px; background-color: #fff; }
.module .content .btn { color: #282c37; font-size: 1.143em; }
.module .content .btn .svg-container { margin: 0 auto 10px; width: 80px; height: 80px; display: block; }
.module .content .btn:hover svg path { fill: #5c616f; }
.module .content .btn.btn-success { color: #fff; }
.module .content table { border-bottom: 1px solid #8f9aa6; }
.module .content table th { text-align: center; }

.listing { margin: 0; background-color: #fff; width: 100%; padding-left: 0; list-style: none; }
.listing:before, .listing:after { content: " "; display: table; }
.listing:after { clear: both; }
.listing > li { border-bottom: 1px solid #d7dbe3; padding: 20px; line-height: 110%; color: #000; font-weight: 600; -webkit-transition: background 0.2s; -o-transition: background 0.2s; transition: background 0.2s; }
.listing > li:hover { background-color: #f4f7fa; }
.listing > li a { color: #000; }
.listing > li a:hover, .listing > li a:focus { text-decoration: none; }
.listing > li small { display: block; color: #52606e; font-weight: 300; }
.listing.cols > li { font-weight: 300; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.listing.cols .svg-container { width: 18px; height: 18px; margin-right: 10px; }
.listing.cols a:hover { text-decoration: underline; }
.listing.pest-list > li { padding: 0; font-weight: 300; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; }
.listing.pest-list > li .icon { min-width: 70px; }
.listing.pest-list > li .icon .svg-container { width: 44px; height: 44px; }
.listing.pest-list > li .text { padding: 20px; }
.listing .entry-title { margin: 0; font-weight: 600; font-size: 125%; }
.listing .entry-content { font-weight: 300; }

.modicon { text-align: center; line-height: 100%; color: #282c37; }
.modicon .svg-container { margin: 0 auto 10px; width: 80px; height: 80px; display: block; }
.modicon .text-lg { color: #cbd936; display: block; }

.report-item { background-color: #fff; margin-bottom: 10px; }
.report-item .icon { min-width: 120px; }
.report-item .icon .svg-container { width: 50px; height: 50px; }
.report-item .text { padding: 20px; }
.report-item .title { margin: 0; font-weight: 600; font-size: 1.714em; }

.block-item { margin-bottom: 30px; padding: 20px; background-color: #fff; }
.block-item:before, .block-item:after { content: " "; display: table; }
.block-item:after { clear: both; }
.block-item .heading { margin-bottom: 10px; }
.block-item .heading .icon { max-width: 120px; -webkit-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; -moz-align-items: flex-start; align-items: flex-start; }
.block-item .heading .icon .svg-container { width: 60px; height: 60px; }
.block-item .heading .text { padding: 0 20px 5px; }
.block-item .heading .title { margin: 0; font-weight: 600; font-size: 1.714em; }

table ul, table ol { padding-left: 0; list-style: none; }
table ul ul, table ul ol, table ol ul, table ol ol { padding-left: 15px; }

/*	Tabs 
============================================================ */
.nav-tabs { width: 100%; margin-bottom: 15px; padding-left: 0; list-style: none; background-color: #b5bfc9; }
.nav-tabs:before, .nav-tabs:after { content: " "; display: table; }
.nav-tabs:after { clear: both; }
.nav-tabs > li { float: none; }
.nav-tabs > li > a { padding: 10px 20px; color: #282c37; display: block; text-align: center; margin-bottom: 5px; }
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus { text-decoration: none; }
.nav-tabs .active { background-color: #52606e; }
.nav-tabs .active > a { color: #fff; }
@media (min-width: 48em) { .nav-tabs > li { display: table-cell; width: 1%; }
  .nav-tabs > li > a { margin-bottom: 0; } }

.nav-lg { margin-bottom: 0; }
.nav-lg > li > a { font-size: 1.714em; padding: 12px 20px; }

.tab-content { margin-bottom: 15px; }
.tab-content > .tab-pane { display: none; }
.tab-content > .active { display: block; }
.tab-content .module { margin-bottom: 15px; }

/*	Home page
============================================================ */
.home-page { background-color: #333; display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }
.home-page .image { margin-bottom: 40px; }
.home-page .content { margin: 0 auto; }
@media (min-width: 48em) { .home-page .content { max-width: 80%; } }
@media (min-width: 60em) { .home-page .content { max-width: 60%; } }

/*	MEDIA QUERIES
============================================================ */
@media (min-width: 77em) { .text-lg { font-size: 3.571em; }
  .module .title, .module .subtitle { padding: 12px 20px; }
  .module .title { font-size: 1.286em; }
  .module .subtitle, .module .heading { font-size: 1.143em; }
  .module .heading { padding: 8px 10px; }
  .module .content { padding: 25px 20px; }
  .module .content .btn { font-size: 1.286em; }
  .listing { font-size: 1.143em; }
  .listing.cols { font-size: 1.429em; }
  .listing.cols .svg-container { width: 24px; height: 24px; margin-right: 12px; }
  .nav-justified { font-size: 1.143em; }
  .modicon { font-size: 1.429em; }
  .modicon .text-lg { font-size: 2.083em; } }
